.button-container {
  @include flex;
  @include text-style(12, $primary);
  padding: 8px 10px;
  border-radius: 2px;
  cursor: pointer;

  &.outlined {
    border: 1px solid $border;
    transition: 300ms ease-in-out;

    &:hover {
      opacity: 0.6;
    }
  }

  &.filled {
    color: $primary-text;
    background-color: $primary;
    transition: 300ms ease-in-out;

    &:hover {
      opacity: 0.6;
    }
  }

  &.google {
    background-color: $primary-text;

    &:before {
      content: "";
    }
  }

  &.btn-sm {
    padding: 0 10px;
    height: 28px;
  }

  &.btn-md {
    padding: 0 18px;
    height: 32px;
  }
}
