$font-main: "Roboto", sans-serif;
$font-main-weight: 400;

$font-size-title: 19px;
$font-height-title: 1.2;
$font-spacing-title: normal;

$font-size-title-small: 17px;
$font-height-title-small: 1.2;
$font-spacing-title-small: normal;

$font-size-nav: 14px;
$font-height-nav: 1.5;
$font-spacing-nav: normal;

$font-size-button: 12px;
$font-height-button: 1;
$font-transform-button: uppercase;
$font-spacing-button: 0.08em;

$font-size-caption: 11px;
$font-height-caption: 1.5;
$font-spacing-caption: normal;
