.directory-group {
  $category-card-padding-left: 30px;
  $desktop-additional-side-padding: 18px;

  @include column-flex;
  flex-wrap: wrap;
  padding: 0 22px;
  width: 100%;

  @include responsive(T) {
    flex-direction: row;
    justify-content: center;
    margin-left: -#{calc($category-card-padding-left / 2)};
    padding: 0 55px;
  }

  @include responsive(D) {
    padding: 0 (55px + $desktop-additional-side-padding);
  }
}
